<nav-menu></nav-menu>
<loading></loading>
<div class='container-fluid body-content'>
    <div class="row">
        <alerts></alerts>
    </div>
    <div class="row">
        <router-outlet></router-outlet>
    </div>
</div>
