﻿.loading {
    background-color: rgba(49, 37, 37, 0.2);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

.loader {
    left: 50%;
    top: 40%;
}
