﻿<ul class="nav nav-tabs">
    <li class="{{activeLevel == levelTypes[level]? 'active' : ''}}" *ngFor="let level of levelTypesValues" role="presentation"><a (click)="linkClick(levelTypes[level])">{{level}}</a></li>
</ul>
<ul *ngIf="activeLevel !== undefined" class="nav nav-pills nav-justified">
    <li class="{{activeDifference == differenceTypes[difference]? 'active' : ''}}" role="presentation" *ngFor="let difference of differenceTypesValues"><a (click)="linkClick(activeLevel, differenceTypes[difference])" class="{{activeDifference == differenceTypes[difference]? 'active' : ''}}">{{difference}}</a></li>
</ul>
