<div class='navbar navbar-inverse'>
    <div class="container-fluid">
       
        <div class="navbar-form navbar-left form-group has-feedback navbar-nav">
            <input (click)="showAccountList = !showAccountList" #search type="text" (keyup)="0" class="form-control" placeholder="Select account..." />
            <i class="glyphicon glyphicon-search form-control-feedback"></i>
        </div>
        <div *ngIf="selectedAccount" class="navbar-header navbar-left">
            <img style="padding-top: 12px;" class="navbar-left" src="../../images/adwords.png" *ngIf="selectedAccount.apiType == 1" />
            <img style="padding-top: 10px;" class="navbar-left" src="../../images/bing.png" *ngIf="selectedAccount.apiType == 2" />
            <h4 style="margin-left: 7px;" class="navbar-left navbar-text">{{selectedAccount.name}}</h4>
        </div>
        <div class='navbar-header navbar-right'>
            <a class='navbar-brand'>iActivate Sync Tool</a>
        </div>
    </div>
</div>
<account-list *ngIf="showAccountList" [searchValue]="search.value"></account-list>
<account-navi *ngIf="selectedAccount" [account]="selectedAccount"></account-navi>



