.glyphicon {
    margin-right: 12px;
}

/* Highlighting rules for nav menu items */
li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
    background-color: #4189C7;
    color: white;
}



@media (min-width: 768px) {
    .navbar {
        border-radius: 0px;
        border-width: 0px;
    }
}
