﻿    <div class="navbar-fixed-top" style="max-width: 300px; margin-top: 50px;">
        <ul class="list-group" style="height: auto; max-height: 200px;overflow-x: hidden; cursor: pointer;">
            <li class="list-group-item {{account.apiType.toString()}}" *ngFor="let account of list | search: searchValue" (click)="selectAccount(account)">
                <img src="../../images/adwords.png" *ngIf="account.apiType == 1" />
                <img src="../../images/bing.png" *ngIf="account.apiType == 2" />
                {{account.name}}
            </li>
        </ul>
    </div>
